@model WearType

<form method="post" asp-action="Edit" class="content" style="height: 80vh">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h4>Edit Wear Type</h4>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
       
        <button type="submit" class="btn btn-dark mt-2">Update</button>
        <a asp-controller="WearType" asp-action="Index" class="btn mt-2 btn-outline-dark">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />     
    }
}