@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

.content {
    margin-top: 5rem;
}

.landing-text {
    background-image: url('../images/landingbg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product-card {
    text-transform: uppercase;
}

.circle {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 100%;
    background-color: grey;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    border: 1px solid grey;
    text-decoration: none !important;
    margin-left: 1rem;
}

.footer-social:hover {
    background-color: white;
}

.fa-brands {
    color: #fff;
    font-size: 1rem;
}

.fa-brands:hover {
    color: #000;
}

.footer-line {
    height: 0.1rem;
    background-color: darkslategrey;
}

.footer-navigation {
    display: flex;
    list-style: none;
}

.footer-navigation li a {
    color: lightgrey;
    text-decoration: none;
    padding: 0 1rem;
}

.footer-navigation li a:hover {
    color: white;
}
