@model Category

<form method="post" class="content" style="height: 80vh">
    <div class="border p-3">
        <div class="row pb-2">
            <h4>Create Category</h4>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-dark mt-2">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn mt-2 btn-outline-dark">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />     
    }
}